$salmon: #dc0e0e;

$primaryColor: $salmon;
$secondaryColor: white;

#outdated {
	font-family: sans-serif;
	position: absolute;
	position: fixed;
	background-color: $primaryColor;
	color: $secondaryColor;
	display: none;
	overflow: hidden;
	left: 0;
	text-align: center;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1500;
	padding: 32px;

	&.fullscreen {
		height: 100%;
	}

	.vertical-center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	h6 {
		font-size: 32px;
		line-height: 25px;
		margin-bottom: 24px;

		@media screen and (max-width: 640px) {
			font-size: 24px;
		}
	}

	p {
		max-width: 680px;
		font-size: 16px;
		line-height: 20px;
		margin: 0 auto 8px;
	}

	#buttonUpdateBrowser {
		border: 2px solid $secondaryColor;
		color: $secondaryColor;
		cursor: pointer;
		display: block;
		margin: 30px auto 0;
		padding: 10px 20px;
		position: relative;
		text-decoration: none;
		min-width: 200px;

		&:hover {
			background-color:$secondaryColor;
			color: $primaryColor;
		}
	}

	.last {
		height: 20px;
		position: absolute;
		right: 32px;
		top: 10px;
		width: auto;
		display: inline-table;

		@media screen and (max-width: 640px) {
			top: 0;
			right: 8px;
		}
	}

	.last[dir=rtl] {
		left: 25px !important;
		right: auto !important;
	}

	#buttonCloseUpdateBrowser {
		color: $secondaryColor;
		display: block;
		font-size: 36px;
		height: 100%;
		line-height: 36px;
		position: relative;
		text-decoration: none;
		width: 100%;
	}
}
